* {
	margin: 0px;
	padding: 0px;
}
body {
	color: #003366;
	line-height: 16px;
}
table {
	padding: 0;
	border: 0px none;
	width: 100%;
	margin: 0px;
	table-layout: auto;
}
table tbody th, table tbody td  {
    padding: 0;
    text-align:center;
}
table thead th {
    text-align:center;
    padding: 8px 5px 5px 5px;
    color: #003366;
    background:  #CEDDEC;
    
}
thead {
    font-size: 16px;
    font-weight: bold;
    text-align:center;
}
p {
	color: #003366;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 0;
}
p.subText {
	color: #003366;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	font-size: 0.7em;
}
input {
    height: auto;
    
}

input,select,SELECT,INPUT {
	color: #0f2439;
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 1em;
    display: inline;
    width: auto;
}
label {
    font-size: 1em;
    display: inline;
    line-height: 1.4;
}
select {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 1px 20px 1px 10px;
    height: auto;
}

h1 {
	color: #003366;
	line-height: 34px;
	margin: 0px 0px 10px 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Century Gothic', verdana, arial, sans-serif;
	font-size: 2.0em;
	font-weight: normal;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cc3333;
	margin: 1em 0;
	padding: 0;
	width: 100%;
	text-align: right;
}

.shortRadio {
    margin-top: 0px;
}
.dddList {
    margin-top: 0px;
}
.inlineCheck {
    display: inline;
}
.PPCheck {
    display: none;
    text-align: center;
}
.disabledCheck {
    display: none;
    text-align: center;
}
header {
    max-width: 660px;
    margin: auto;
}
input[type=checkbox] {
    padding-left: 15px;
    color: #003366;
    margin-left: 5px;
    position: relative;
    top: 3px;
}
select {
    width: auto;
}
input[type=select] {
    padding-left: 15px;
    color: #003366;
    margin-left: 5px;
    margin-top: 8px;
    display: inline;
    padding: 2px;
    margin-bottom: 8px;
}
label [type=select] {
    padding-left: 15px;
    color: #003366;
    margin-left: 5px;
    margin-top: 8px;
}
.assetSp {
    margin-bottom: 8px;
}
textarea::placeholder, input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder { /*IE */
    color: grey !important;
    opacity: 1 !important;

}
textarea::-ms-input-placeholder, input::-ms-input-placeholder { /*Edge */
    color: grey;
    opacity: 1;

}
input[type=text] {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 2px;
    font-size: inherit;

}
input[type=number] {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline;
    width: auto;
    height: auto;
    padding: 2px;
    font-size: inherit;

}
input[type=tel] {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline;
    width: auto;
    height: auto;
    padding: 2px;
    font-size: inherit;
}
input[type=date] {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline;
    width: auto;
    height: auto;
    padding: 2px;
    font-size: inherit;
}
textarea {
    width: 93%;
    padding-left: 15px;
    color: #003366;
    margin-left: 15px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 1em;
    resize: none;
    min-height: 50px;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 8px;
}
br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 4px; /* change this to whatever height you want it */
}
label[type=checkbox] {
    padding-left: 10px;
    color: #003366;
    margin-left: 5px;
}
[type='checkbox'] {
    margin-bottom: 0;
}
[type='checkbox'] + label, [type='radio'] + label {
    margin-right: 0;
}
[type='radio'] + label {
    display: inline;
}
label[type=radio] {
    padding-left: 5px;
    color: #003366;
    margin: 0px 5px;
}

input[type=radio] {
    top: 2px;
    display: inline;
    margin: 0px 5px;
}
input[type=button] {
    position: relative;
    margin-left: 15px;
    color: #003366;
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 5px;
    background: linear-gradient(to bottom, white, #cccfd1);

}
#content a.guide {
    color: #cc3333;
}
a.guide {
    margin-right: 15px;
    font-size: 16px;
    
}

.tempSel {
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
    background: linear-gradient(to bottom, white, #97b7d6);
    clear: both;

}
.input[type=text], label {
    color: #003366;
    margin-left: 15px;
}
.prgCount {
    width: 40px;
}
label[type=text] {
    top: 2px;
    padding-left: 15px;
    color: #003366;
    margin-left: 5px;
    margin-top: 8px;
}
.dynamicContent {
    height: auto;
    width: 100%;
}
.householdDisc {
    display: block;
    margin-top: 3px;
    padding-right: 10px;
}
section {
    max-width: 950px;
    margin: auto;
}
.lastMedicaid1 {
    padding-bottom: 0px;
    padding-top: 0px;
}
.inlineLabel {
    margin: 0px;
}
.abawdLabel {
    width: 93%;
}
#content a.inlineLink {
    margin: 0;
}
#content a {
    margin-left: 15px;
}

.lastMedicaid1 {
    color: #922206;
    font-weight: bold;
}
input[type=button].reset{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    position: relative;
    color: #922206;
    margin: 8px 0 15px 15px;
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    display: block;
    float: left;
}
span.align-right {
    text-align:right; 
    width:100%; 
    display:inline-block; 
}
fieldset {
    border: 0;
    margin-top: 8px;
}
legend {
    float: left;
    margin-left: 15px;
    margin-bottom: 0;
}
.beneHdr {
    font-size: 14px;
}
.bene {
    margin-top: 8px;
}
.hrChg {
    margin-top: 8px;
}
.accessNameDivText {
	margin-left: 20px;
	font-family: Georgia;
	font-size: 26px;
	font-variant: normal;
	color: #205FAA;
	vertical-align: middle;
	line-height: 23px;
	font-weight: bold;
	padding: 50px 50px 50px 200px;
	
}
.dcflogoDiv {
	margin: 5px 0px 0px 50px;
	padding: 5px;
}
a:link {
	color: #cc3333;
}

a:visited {
	color: #3f6dc2;
}

a:hover {
	color: #767575;
}

a:active {
	color: #110066;
}

a.white-link:link {
	color: #767575;
}

a.white-link:visited {
	color: #3f6dc2;
}

a.white-link:hover {
	color: #cc3333;
}

a.white-link:active {
	color: #110066;
}

